.root {
    -fx-background-color: rgb(29, 29, 47);
}

#header-text {
    -fx-font-size: 40px;
    -fx-font-family: 'SanSerif';
    -fx-fill: white;
    -fx-font-weight: bold ;
}

.simple-button {
    -fx-background-color: #213121;
    -fx-text-fill: white;
    -fx-background-radius: 40px;
    -fx-border-radius: 35px;
    -fx-border-color: darkseagreen;
    -fx-border-style: solid;
    -fx-border-width: 4px;
}

.simple-button .text {
    -fx-font-size: 18px;
    -fx-font-family: 'Arial';
    -fx-fill: white;
    -fx-font-weight: bold;
}

.simple-button:hover {
    -fx-background-color: darkseagreen;
    -fx-border-color: white;
}

.text-box1 .text-box2 {
    -fx-font-size: 16px;
    -fx-font-family: 'Arial';
}

#leave-button {
    -fx-background-color: darkblue;
    -fx-fill: white;
    -fx-border-width: 4px;
}

#leave-button:hover {
    -fx-background-color: lightblue;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 4px;
}

#leave-button .text {
    -fx-font-size: 16px;
    -fx-font-family: 'Arial';
    -fx-fill: white;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}